
.contenedor{
    padding: 10px;
    margin: 10px;
    display:flex;    
    background-color: blue;
    width: 100vh;
    height: 200px;    
    align-content: center;   

}
.seccion-principal{
    padding: 10px;
    margin: 10px;
    display:flex;    
    background-color: rgb(51, 167, 68);
    width: 8rem;
    height: 50px;
    height: fit-content;
    flex-grow: 0;
    order: 1;
    margin-left: auto;
    align-self: center;     

}

.barra-lateral{
    display: flex;
    padding:10px;
    margin: 10px;
    width: 50rem;
    height: fit-content;
    background-color: blueviolet;
    gap: 0.5rem;
    flex-direction: column;
    width: 100px;
    order:0;
    align-self: center;  
}
.elemento{
    background-color: darkred;
    padding:0.25rem;
}

@media (max-width:640px){
    .contenedor{
        flex-direction: column;        
        flex-wrap: nowrap;        
    }
    .barra-lateral{
        width: 90%;
        flex-direction: row;
        align-self: center;                     
        justify-content: space-around;
        order: 1;
        margin-top: auto;      
    }
    .seccion-principal{
        align-self: center;
    }
}